h1 {
    text-align: center;
    font-family: 'Arial';
    color: #FFF;
}

body {
    background-color: #1b2c3a;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    color: #FFF;
}

.ajaxProgress {
    display: none;
}